<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'board/default.html' %}

<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

<!-- Название у нас будет Объявление -->
{% block title %}
Объявление
{% endblock title %}

<!-- В контенте на странице мы выводим все объявления -->
{% block content %}
<h1>Сегодня</h1>

    <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
    <h3>{% current_time '%d %b %Y' %}</h3>

<h2>Вы просматриваете объявление от автора {{id_announcement.author}} </h2>

<table> <!-- Начинаем описывать таблицу -->
    <tr> <!-- Добавляем строку -->
        <td><b>Название</b></td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
        <td><b>Описание</b></td>
        <td><b>Категория</b></td>
        <td><b>Дата подачи объявления</b></td>
        <td><b>Фото</b></td>

    </tr>

    <tr>
        <td>{{ id_announcement.title }}</td>
        <td>{{ id_announcement.text }}</td>
        <td>{{ id_announcement.category }}</td>
        <td>{{ id_announcement.dateCreation }}</td>
        <td>{{ id_announcement.upload }}</td>
    </tr>
 </table>

<!-- форма по созданию отклика -->
<form action="{% url 'userresponse_create' announcement_id %}" method="post">
    {% csrf_token %}
    {{ form }}

    <input type="submit" value='Оставить отклик'>
</form>
{% if id_announcement.userresponse_set.all %} <!-- Если есть отклики к нашему объявлению -->
<h4>Отклики по данному объявлению:</h4>
{% for userresponse in id_announcement.userresponse_set.all %} <!-- То проходимся по всем откликам -->
<p>{{ userresponse.responder.username }}</p> <!-- Выводим username откликнувшегося -->
<p>{{ userresponse.text }}</p> <!-- Выводим текст отклика -->
{% endfor %}
{% endif %}
{% endblock content %}
