<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'board/default.html' %}

<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

<!-- Название у нас будет Объявление -->
{% block title %}
Объявление
{% endblock title %}

<!-- В контенте на странице мы выводим все объявления -->
{% block content %}
<h1>Сегодня</h1>

    <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
    <h3>{% current_time '%d %b %Y' %}</h3>

<h2>Вы просматриваете объявление от автора {{id_announcement.author}} </h2>

<table> <!-- Начинаем описывать таблицу -->
            <tr> <!-- Добавляем строку -->
                <td>Название</td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                <td>Описание</td>
                <td>Категория</td>
                <td>Дата подачи объявления</td>
                <td>Фото</td>

            </tr> <!-- Не забываем закрыть HTML-тег строки -->

            <tr>
                <td>{{ id_announcement.title }}</td>

                <!-- Добавим специальный фильтр truncatechars,
                чтобы ограничить количество символов до 15.
                или специальный фильтр truncatewords, что бы ограничить количество слов до 3
                Все остальные символы (слова) превратятся в многоточие. -->
                <td>{{ id_announcement.text |  truncatewords:3 }}</td>

                <!-- Используем наш фильтр -->
                <td>{{ id_announcement.category }}</td>
                <td>{{ id_announcement.dateCreation }}</td>
                <td>{{ id_announcement.upload }}</td>
            </tr>

         </table> <!-- ... и таблицы -->
{% endblock content %}
